aioesphomeapi==24.3.0
aiohappyeyeballs==2.3.2
ajsonrpc==1.2.0
anyio==4.4.0
argcomplete==3.4.0
async_interrupt==1.1.2
av==14.4.0
bitarray==2.9.2
bitstring==4.2.3
blinker==1.9.0
bottle==0.12.25
certifi==2024.7.4
cffi==1.16.0
chacha20poly1305-reuseable==0.12.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
cryptography==42.0.2
ctranslate2==4.6.0
decorator==5.2.1
ecdsa==0.19.0
esphome==2024.6.6
esphome-dashboard==20240620.0
esptool==4.7.0
faster-whisper==1.1.1
filelock==3.18.0
fire==0.7.0
Flask==3.1.0
flask-cors==5.0.1
flatbuffers==25.2.10
fonttools==4.56.0
fsspec==2025.5.1
gunicorn==23.0.0
h11==0.14.0
hf-xet==1.1.3
huggingface-hub==0.33.0
humanfriendly==10.0
icmplib==3.0.4
idna==3.7
ifaddr==0.2.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
intelhex==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.5
kconfiglib==13.7.1
llvmlite==0.44.0
lxml==5.3.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.21.3
mdurl==0.1.2
more-itertools==10.7.0
moviepy==2.1.2
mpmath==1.3.0
networkx==3.5
noiseprotocol==0.3.1
numba==0.61.2
numpy==1.26.4
onnxruntime==1.22.0
opencv-python-headless==4.11.0.86
packaging==24.1
paho-mqtt==1.6.1
pdf2docx==0.5.8
pdf_to_word @ file:///Users/mac/dev/pdf-converter
pillow==10.4.0
platformio==6.1.15
proglog==0.1.10
protobuf==5.27.2
pycparser==2.22
pydub==0.25.1
pyelftools==0.31
Pygments==2.18.0
PyMuPDF==1.25.3
pyparsing==3.1.2
pyserial==3.5
python-docx==1.1.2
python-dotenv==1.0.1
python-magic==0.4.27
PyYAML==6.0.1
reedsolo==1.7.0
regex==2024.11.6
requests==2.32.3
rich==13.8.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
semantic-version==2.10.0
setuptools==70.3.0
simpleaudio==1.0.4
six==1.16.0
sniffio==1.3.1
starlette==0.37.2
sympy==1.14.0
tabulate==0.9.0
termcolor==2.5.0
tiktoken==0.9.0
tokenizers==0.21.1
tornado==6.4
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.2
uvicorn==0.29.0
voluptuous==0.14.2
Werkzeug==3.1.3
wheel==0.43.0
wsproto==1.2.0
yt-dlp==2025.1.26
zeroconf==0.132.2
